venv3/

.idea/alembic-start.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/deployment.xml
.idea/other.xml
.idea/dataSources.local.xml
.idea/dataSources/*

**/__pycache__/**
**.cache
